@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

/* inicio do header  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  /* para mudar estilpo de barra muda o justify-content para:
  
  space-between
  flex-end

  */
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
/* margin-rigth se for flex end */
  margin-right: auto;
  cursor: pointer;
}

.nav_link {
  list-style: none;
}

.nav_link li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_link li a {
  transition: all 0.3s ease 0s;
}
.nav_link li a:hover {
  color: rgb(6, 96, 156);
}

button {
  padding: 9px 25px;
  background-color: rgb(6, 96, 156);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgb(6, 96, 156, 0.8);
}

/* fim do header  */